<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

        <title>CSV to QLab</title>
    </head>
    <body>
        <header>
            <!-- Image and text -->
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-soundwave" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                CSV Import
              </a>
            </nav>
        </header>
        <section class="container">
            <div class="alert alert-info m-3" role="alert">
              Please note that this project is still in development. <a href="https://www.finlayrosssound.com/contact" target="_blank">Let me know</a> if a bug occurs. Thank you!
            </div>
            <small class="text-right"><a href="https://github.com/fross123/csv_to_qlab/tree/v2021.1.0" target="_blank">Version 2021.1.0</a></small>
            <h1>Import CSV into QLAB</h1>
            <p>In this update, you no longer need to be precise about the order of your rows in your .csv file. You can now also add <em>any</em> type of cue, however some do require additional parameters.</p>
            <p><a href="https://qlab.app/docs/v4/scripting/osc-dictionary-v4/#workspaceidnew-cue_type" target="_blank">See permitted cue types.</a></p>
            <p>Certain optional collumns below require numbers rather than text, please follow the links to see the most up to date options that are allowed for QLab.</p>
            
            <p>Required Columns:</p>
            <ul>
                <li>Number</li>
                <li>Type</li>
                <li>Name</li>
            </ul>

            <p>Optional Collumns:</p>
            <ul>
                <li>Page (Will be added to notes)</li>
                <li>Name</li>
                <li>Notes</li>
                <li>Color (<a href="https://qlab.app/docs/v4/scripting/osc-dictionary-v4/#cuecue_numbercolorname-string" target="_blank">Options</a>)</li>
                <li>Collumns availible for "midi" cue type:</li>
                <ul>
                    <li>Midi Cue Number</li>
                    <li>Device ID</li>
                    <li>Message Type (<a href="https://qlab.app/docs/v4/scripting/osc-dictionary-v4/#cuecue_numbermessagetype-number-1" target="_blank">Options</a>)</li>
                    <li>Command Format (<a href="https://qlab.app/docs/v4/scripting/osc-dictionary-v4/#cuecue_numbercommandformat-number" target="_blank">Options</a>)</li>
                    <li>Command (<a href="https://qlab.app/docs/v4/scripting/osc-dictionary-v4/#cuecue_numbercommand-number" target="_blank">Options</a>)</li>
                </ul>
                <li>Collumns availible for "network" cue type:</li>
                <ul>
                    <li>Message Type (<a href="https://qlab.app/docs/v4/scripting/osc-dictionary-v4/#cuecue_numbermessagetype-number" target="_blank">Options</a>)</li>
                    <li>OSC Cue Number (Only if using QLab Message Type)</li>
                    <li>Command (Only if using QLab Message Type)</li>
                </ul>
            </ul>

            <form method="POST" action="" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="ip_input">IP address of QLab machine (must be on same local network)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" for="ip_input">123.456.7.89</span>
                        </div>
                        <input type="text" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" id="ip_input" name="ip" required />
                        <div class="invalid-feedback">
                          Please enter a vaild ip address.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label for="csv_file">CSV File</label>
                    <input type="file" class="form-control-file" id="csv_file" name="file" required />
                    <div class="invalid-feedback">
                        Only .csv files accepted.
                    </div> -->
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="csv_file" name="file" required>
                        <label class="custom-file-label" for="customFile">CSV file</label>
                        <div class="invalid-feedback">
                            Only .csv files accepted.
                        </div>
                    </div>
                </div>
                <button class="btn btn-block btn-primary" type="submit">Send to QLab</button>
            </form>
        </section>
        <footer class="footer mt-auto py-3">
          <div class="container">
              <p>
                  Recomendations for future features are very welcome! Please <a href="https://www.finlayrosssound.com/contact" target="_blank">Contact Me</a> if you have a recomendation or any questions. Thanks!
              </p>
          </div>
        </footer>
    </body>
</html>
