<!doctype html>
<html lang="en">
  <head>
    <title>Success!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
              integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <style>
      .body {
        padding: 2em;
      }
      .funny-picture {
          width: 100%;;
      }

    </style>
  </head>
  <body class="body">
    <h3 class="alert alert-success" role="alert">Congratulations! Your request was successful</h3>
    <a href="{{ url_for('index')}}" class="btn btn-block btn-primary my-3">Back</a>
    <img class="funny-picture" src="{{ url_for('static', filename='images/funny-success-quote-1-picture-quote-1.jpg') }}"
      alt="Funny success image">
  </body>
</html>
